<footer class="footer">

  {% include nav-social.html %}

  <div class="aoc-container">
    <h3>Acknowledgement of Country</h3>
    <span>The Renewable Bermagui team acknowledges the Djiringanj people of the Yuin Nation, the traditional custodians of the land on which this project is situated.&nbsp; We pay our respect to their Elders past and present and extend that respect to all Aboriginal and Torres Strait Islander peoples today.</span>
  </div>
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
