<footer class="footer">


  <h3 style="text-align: center;">Acknowledgement of Country</h3>
  <blockquote>
  <p style="text-align: center;">The Renewable Bermagui team acknowledges the Djiringanj people of the Yuin Nation, the traditional custodians of the land on which this project is situated. We acknowledge that the Djiringanj people have been caring for this country for tens of thousands of years and respect their connections to land, sea and community. We pay our respect to their Elders past and present and extend that respect to all Aboriginal and Torres Strait Islander peoples today.</p>
  </blockquote>
  
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
