<footer class="footer">

  <div class="aoc-container">
    <h4>Acknowledgement of Country</h4>
    <span>The Renewable Bermagui team acknowledges the Djiringanj people of the Yuin Nation, the traditional custodians of the land on which this project is situated.&nbsp; We pay our respect to their Elders past and present and extend that respect to all Aboriginal and Torres Strait Islander peoples today.</span>
  </div>

  <!--
  <p style="text-align: center;">&nbsp;</p>
  <table style="border-collapse: collapse; width: 50%; height: 219px;" border="0">
  <tbody>
  <tr style="height: 54px;">
  <td style="width: 100%; height: 54px;">
  <h4 style="text-align: center;">Acknowledgement of Country</h4>
  </td>
  </tr>
  <tr style="height: 137px;">
  <td style="width: 100%; text-align: center; height: 137px;"><span style="color: #eeeeee;">The Renewable Bermagui team acknowledges the Djiringanj people of the Yuin Nation, the traditional custodians of the land on which this project is situated.&nbsp; We pay our respect to their Elders past and present and extend that respect to all Aboriginal and Torres Strait Islander peoples today.</span></td>
  </tr>
  </tbody>
  </table>
-->

  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
